extends layout

block page_title
  title Das ist der Titel der Webseite

block greeting
  h1 Hallo Welt!

block software_engineer
  p Ich werde bald eine Ingenieurin sein!
  img(src="/images/earth.jpg" alt="Die Erde" title="Die Erde")